body{
    text-align: center;
    background-color: #564C4D;  

}

img{
    max-width: 900px ;
     border-radius: 80%;
     border: solid #C5C6D0
}


h1 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    list-style-type: none;
}

button {
    color: #373737;
    font-size: 30px;
    display: inline-block;
  border: 1px solid whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px; 
}